/indent.log
/pathfinder_slides.aux
/pathfinder_slides.bak0
/pathfinder_slides.log
/pathfinder_slides.nav
/pathfinder_slides.out
/pathfinder_slides.pdf
/pathfinder_slides.snm
/pathfinder_slides.synctex.gz
/pathfinder_slides.toc
